.spacer {
  height: 0px;
}

.account-wrapper {
  padding-top: 0;
  margin-top: 0;
}

.header-account {
  width: 100%;
  padding-bottom: 20px;
  padding: 15px;
  margin: 0;
  display: inline-block;
}

.edit-info {
  /*text-align: right;*/
  float: right;
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
  text-decoration: none;
}
.edit-info a {
  color: black;
}

.edit-info a {
  color: black;
}

.edit-info a:hover {
  opacity: 0.6;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.border {
  border: 1px solid black;
}
.left-align {
  text-align: left;
  float: left;
}

.right-align {
  margin-right: 0;
}

.avatar {
  background-color: #7f8184;
  color: white;
  margin: 10px;
  margin-left: 0;
  margin-right: 25px;
  padding: 28px;
  border-radius: 10%;
  display: inline-block;
  font-size: 26pt;
}
.display-name {
  font-size: 23pt;
}

.account-tabs {
  display: flex;
  margin-left: 2%;
  margin-top: 10px;
}
.account-tabs a {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
  margin-right: 2%;
  cursor: pointer;
}
.account-tabs a:hover {
  border-bottom: 2px solid #4a83e2;
}

.account-tabs .activeTab {
  border-bottom: 2px solid #4a83e2;
}
.classes {
  background-color: #f7f7ff;
}

.classes .class-header {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
