.spacer {
	height: 500px;
}

.student-item {
	text-align: left;
	margin-bottom: 10px;
}

.head {
	font-size: 18pt;

}
.flip-vertical   { -webkit-transform: matrix(1, 0, 0, -1, 0, 0) }

.class-header {
	display: flex;
	justify-content: space-between;
	margin: 15px;

}

.module{
	display: flex;
}

.module .checkbox {
	border: 1px solid black;
	margin: auto 0;
	
}



