.home {
  text-align: left;
  margin: 15px;
}

.info-paragraph {
  width: 50%;
  text-align: left;
}

.logo {
  /*height: 150px;*/
  padding-right: 20px;
}
@media (max-width: 800px) {
  .title-text {
    font-size: 30pt;
  }
}
.logo-container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  /* padding: 20px; */
}

@media (min-width: 800px) {
  .mobile-testemonials {
    display: none;
  }
}

@media (max-width: 800px) {
  .carousel-testemonials {
    display: none;
  }
}

/* @media (min-width: 799px) {
  .image {
    width: 15%;
  }
}

@media (max-width: 799px) {
  .image {
    width: 30%;
  }
} */
.image {
  width: 30%;
  padding-bottom: 12px;
}

@media (min-width: 799px) {
  .video {
    width: 65%;
    height: 350px;
  }
}

@media (max-width: 799px) {
  .video {
    width: 90%;
    height: 250px;
  }
}
