.register-super-container {
  margin-top: 5%;
}

.register-form {
  margin-top: 10%;
  margin: 0 auto;
  width: 40%;
  height: auto;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding: 15px;
}

.register input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 28px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12pt;
}

.register label {
  float: left;
}

.register button {
  width: 100%;
}

/* .register button:hover {
    opacity: .8;
}

.register button:active{
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

} */

.error-message {
  color: red;
  float: right;
  font-size: 10pt;
}
